<!DOCTYPE html>

<html id="html" xmlns="http://www.w3.org/1999/xhtml" runat="server">
<html>
<head>   
    <meta charset="UTF-8"/>
    <title>@ViewBag.Title</title>   
</head>
<body>
	Layout Content

    <div id="content">

			@RenderBody()
            
    </div>

	
</body>
</html>

